In [2]:
import nltk
import re
import numpy as np
import pandas as pd
import csv

In [3]:
data = pd.read_csv('Numbers.txt', names=['Numbers'],dtype=str)
data

        Numbers
0   03003576658
1   03103576658
2   03333576658
3   03403576658
4   03006486585
5   03106486585
6   03336486585
7   03406486585
8   03003548345
9   03103548345
10  03333548345
11  03403548345
12  03004866523
13  03104866523
14  03334866523
15  03404866523
16  03007686898
17  03107686898
18  03337686898
19  03407686898
20  03007686898
21  03107686898
22  03337682898
23  03407685698

In [4]:
#}data['Numbers'] = data['Numbers'].astype(str)
numbers = data['Numbers'].str.findall(r'\d+')
print(numbers)

0     [03003576658]
1     [03103576658]
2     [03333576658]
3     [03403576658]
4     [03006486585]
5     [03106486585]
6     [03336486585]
7     [03406486585]
8     [03003548345]
9     [03103548345]
10    [03333548345]
11    [03403548345]
12    [03004866523]
13    [03104866523]
14    [03334866523]
15    [03404866523]
16    [03007686898]
17    [03107686898]
18    [03337686898]
19    [03407686898]
20    [03007686898]
21    [03107686898]
22    [03337682898]
23    [03407685698]
Name: Numbers, dtype: object

In [5]:
#Checking what values are not strings because error was given for non string objects present
non_strings = [item for item in numbers if not isinstance(item, str)]
print(non_strings)

[['03003576658'], ['03103576658'], ['03333576658'], ['03403576658'], ['03006486585'], ['03106486585'], ['03336486585'], ['03406486585'], ['03003548345'], ['03103548345'], ['03333548345'], ['03403548345'], ['03004866523'], ['03104866523'], ['03334866523'], ['03404866523'], ['03007686898'], ['03107686898'], ['03337686898'], ['03407686898'], ['03007686898'], ['03107686898'], ['03337682898'], ['03407685698']]

In [6]:
#Accesssing nested list values to store as a strign seperated by commas 
Str_Num = ', '.join([' '.join(inner_list) for inner_list in numbers])
Str_Num

'03003576658, 03103576658, 03333576658, 03403576658, 03006486585, 03106486585, 03336486585, 03406486585, 03003548345, 03103548345, 03333548345, 03403548345, 03004866523, 03104866523, 03334866523, 03404866523, 03007686898, 03107686898, 03337686898, 03407686898, 03007686898, 03107686898, 03337682898, 03407685698'

In [7]:
jazz_pattern = re.compile(r'0300\d{7}')
# Find all occurrences of the pattern in the string
matches = jazz_pattern.findall(Str_Num)
for match in matches:
    print("Jazz : " ,match)

Jazz :  03003576658
Jazz :  03006486585
Jazz :  03003548345
Jazz :  03004866523
Jazz :  03007686898
Jazz :  03007686898

In [8]:
zong_pattern = re.compile(r'0310\d{7}')
# Find all occurrences of the pattern in the string
matches = zong_pattern.findall(Str_Num)
matches
for match in matches:
    print("Zong : " ,match)

Zong :  03103576658
Zong :  03106486585
Zong :  03103548345
Zong :  03104866523
Zong :  03107686898
Zong :  03107686898

In [9]:
ufone_pattern = re.compile(r'0333\d{7}')
# Find all occurrences of the pattern in the string
matches = ufone_pattern.findall(Str_Num)
for match in matches:
    print("Ufone : " ,match)

Ufone :  03333576658
Ufone :  03336486585
Ufone :  03333548345
Ufone :  03334866523
Ufone :  03337686898
Ufone :  03337682898

In [10]:
telenor_pattern = re.compile(r'0340\d{7}')
# Find all occurrences of the pattern in the string
matches = telenor_pattern.findall(Str_Num)
for match in matches:
    print("Telenor : " ,match)

Telenor :  03403576658
Telenor :  03406486585
Telenor :  03403548345
Telenor :  03404866523
Telenor :  03407686898
Telenor :  03407685698

In [11]:
#Converting values from nested list into a single string
numbers = [num for sublist in data['Numbers'].str.findall(r'\d+') for num in sublist]
numbers

['03003576658',
 '03103576658',
 '03333576658',
 '03403576658',
 '03006486585',
 '03106486585',
 '03336486585',
 '03406486585',
 '03003548345',
 '03103548345',
 '03333548345',
 '03403548345',
 '03004866523',
 '03104866523',
 '03334866523',
 '03404866523',
 '03007686898',
 '03107686898',
 '03337686898',
 '03407686898',
 '03007686898',
 '03107686898',
 '03337682898',
 '03407685698']

In [12]:
def sim(num):
  jazz_pattern = re.compile(r'0300\d{7}')
  zong_pattern = re.compile(r'0310\d{7}')
  ufone_pattern = re.compile(r'0333\d{7}')
  telenor_pattern = re.compile(r'0340\d{7}')

  for i, num in enumerate(numbers):
      if jazz_pattern.search(num):
          print(f'Jazz Number : {num} \nAt Line Number {i+1}\n')
      if zong_pattern.search(num):
          print(f'Zong Number : {num} \nAt Line Number {i+1}\n')
      if ufone_pattern.search(num):
          print(f'Ufone Number : {num} \nAt Line Number {i+1}\n')
      if telenor_pattern.search(num):
          print(f'Telenor Number : {num} \nAt Line Number {i+1}\n')

In [13]:
sim(numbers)

Jazz Number : 03003576658
At Line Number 1

Zong Number : 03103576658
At Line Number 2

Ufone Number : 03333576658
At Line Number 3

Telenor Number : 03403576658
At Line Number 4

Jazz Number : 03006486585
At Line Number 5

Zong Number : 03106486585
At Line Number 6

Ufone Number : 03336486585
At Line Number 7

Telenor Number : 03406486585
At Line Number 8

Jazz Number : 03003548345
At Line Number 9

Zong Number : 03103548345
At Line Number 10

Ufone Number : 03333548345
At Line Number 11

Telenor Number : 03403548345
At Line Number 12

Jazz Number : 03004866523
At Line Number 13

Zong Number : 03104866523
At Line Number 14

Ufone Number : 03334866523
At Line Number 15

Telenor Number : 03404866523
At Line Number 16

Jazz Number : 03007686898
At Line Number 17

Zong Number : 03107686898
At Line Number 18

Ufone Number : 03337686898
At Line Number 19

Telenor Number : 03407686898
At Line Number 20

Jazz Number : 03007686898
At Line Number 21

Zong Number : 03107686898
At Line Number 22

Ufone Number : 03337682898
At Line Number 23

Telenor Number : 03407685698
At Line Number 24

In [14]:
#Find Name From Text

In [26]:
#Find Iter finds all the required matches in a loop
text = "My name is Mohammad Umer Khan i am artist my David Guetta and my name is Armin Arlalet"
FN_pattern = re.compile(r'\b([A-Z][a-z]+)\s([A-Z][a-z]+)\b')
matches = FN_pattern.finditer(text)
name = []

for match in matches:
    name.append(match.group(1))
    print("First Name : " ,match.group(1))

First Name :  Mohammad
First Name :  David
First Name :  Armin

In [27]:
name

['Mohammad', 'David', 'Armin']

In [28]:
with open('names.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(['Name'])
    writer.writerow([name])

In [29]:
#Task 2 (Implementign BackSpace Using RE)

In [87]:
string = input("Enter String : ")

Enter String : Mary On A Cross

In [88]:
string

'Mary On A Cross'

In [98]:
while True:
  b = input("Hit the enter key if you would like to apply the backspace , hit any other if you dont want to backspace anymore")
  if b == "":
    string = re.sub(".$", "", string)
    print("Current String After Backspace : ", string)
  else:
    break
  if string == "":
    break
print("Your Final String Is : ", string)

Hit the enter key if you would like to apply the backspace , hit any other if you dont want to backspace anymore
Current String After Backspace :  Mary O
Hit the enter key if you would like to apply the backspace , hit any other if you dont want to backspace anymore
Current String After Backspace :  Mary
Hit the enter key if you would like to apply the backspace , hit any other if you dont want to backspace anymoree

In [97]:
string

'Mary On'

In [99]:
#Task 3

In [122]:
string = input("Enter String : ")

while True:
  if re.match(r'^\d{12}$', string):
    print("String Matches First Conditon")
  else:
    print("String Doesnt Match First Condtion Re-Enter String Of Digits\n")
    string = input("Enter String : ")
  if re.match(r'^(\d{3}-){3}\d{3}|\d{12}$', string):
    print("String Matches Second Conditon")
  else:
    print("String Doesnt Match Second Condtion Re-Enter String Of Digits\n")
    string = input("Enter String : ")
  if not re.findall(r'(\d)\1\1', string):
    print("String Matches Third Conditon")
    break
  else:
    print("String Doesnt Match Third Condtion Re-Enter String Of Digits\n")
    string = input("Enter String : ")

Enter String : 213123123111
String Matches First Conditon
String Matches Second Conditon
String Doesnt Match Third Condtion Re-Enter String Of Digits

Enter String : 123123123123
String Matches First Conditon
String Matches Second Conditon
String Matches Third Conditon

In [123]:
#Task 4

In [127]:
filename = 'code.txt'
with open(filename, 'r') as file:
    for line in file:
      print(line.rstrip())

size = int(input("Enter the size of the diamond: "))

# Upper half of the diamond
for i in range(1, size+1, 2):
    print(" " * ((size-i)//2) + "*" * i)

# Lower half of the diamond
for i in range(size-2, 0, -2):
    print(" " * ((size-i)//2) + "*" * i)

In [135]:
comm_pattern = r'\s*(#|//|/\).'
for i, line in enumerate(filename, 1):
  line = line.strip()
    
  if re.match(comm_pattern, line):      
    if line.startswith('#') or line.startswith('//'):
      comment_type = 'Single-line comment'

error: ignored